In [63]:
import pandas as pd
import numpy as np

df = pd.read_csv('test_with_duplicates.csv')

df.head(10)

# df.duplicated()

# df.duplicated().sum()

# df.drop_duplicates(subset = 'date', keep = 'first', inplace = False)
new = df.drop_duplicates(keep = 'first', inplace = False)

new.duplicated().sum()

new.drop_duplicates(subset = 'leisure_type', keep = 'first')
new.drop_duplicates(subset = 'leisure_type', keep = 'last')


# new = df.replace(to_replace = ['music', 'read', 'sport', 'movie'], value = [1, 2, 3, 4]) 

new['leisure_type'].value_counts()

new.head()

df['hours_work'] = [str(i).replace(',', '.') for i in df['hours_work']]


df['hours_work'] = df['hours_work'].astype(float)
df['hours_work'].dtypes

new_col = { 'hours_work': 'work_hours_work', 'hours_study': 'study_hours_work'}
df = df.rename(new_col, axis = 1)


def get_day(e):
    return e.split('/')[0]

def get_month(e):
    return e.split('/')[1]

def get_year(e):
    return e.split('/')[2]

get_day(df['date'][0])
get_month(df['date'][0])
get_year(df['date'][0])


days = df['date'].apply(get_day)
months = df['date'].apply(get_month)
years = df['date'].apply(get_year)

df['day'] = days
df['month'] = months
df['year'] = years

df['day_month'] = df.astype('str').apply(lambda row: row['day']+'-'+row['month'], axis = 1)

df['day_month']

df = pd.read_csv('test_with_duplicates.csv')

new = df.drop_duplicates(keep = 'first')

new_col = { 'hours_work': 'work_hours_work', 'hours_study': 'study_hours_work'}
df = df.rename(new_col, axis = 1)

df.head(20)


df['study_hours_work'].isna().sum(axis = 0)

df.isna().sum(axis = 0).idxmax()


# df.loc[df.isna().any(axis = 1)].head(10)

# df.loc[df[['study_hours_work', 'hours_leisure']].isna().any(axis = 1)].head()

# df['study_hours_work'] = df['study_hours_work'].fillna(-1)


# df['leisure_type'].value_counts()


# print(df['leisure_type'].mode()[0])


# df['study_hours_work'] = df['study_hours_work'].replace(-1, )

df['study_hours_work'] = df['study_hours_work'].fillna(-1)
# df['study_hours_work'] = df['study_hours_work'].fillna(df['study_hours_work'].mean())

df.head(40)

# df.isna().sum()

,date,work_hours_work,study_hours_work,hours_leisure,hours_diff,leisure_type,daily_expenses
0,10/02/2025,"0,00","7,00","3,00","-4,00",read,"4,00"
1,11/02/2025,"0,00","7,00","2,00","-5,00",read,"7,00"
2,12/02/2025,"0,00","7,00","1,00","-6,00",sport,"6,00"
3,13/02/2025,"0,00","7,00","2,00","-5,00",read,"0,00"
4,14/02/2025,"0,00","7,00","3,00","-4,00",read,"0,00"
5,15/02/2025,"0,00",-1,"10,00","10,00",music,"9,00"
6,16/02/2025,"0,00",-1,"10,00","10,00",music,"8,00"
7,16/02/2025,"0,00",-1,"10,00","10,00",music,"8,00"
8,17/02/2025,"0,00","7,00","3,00","-4,00",music,"2,00"
9,17/02/2025,"0,00","7,00","3,00","-4,00",music,"2,00"
10,18/02/2025,"0,00","7,00","2,00","-5,00",music,"1,00"
11,18/02/2025,"0,00","7,00","2,00","-5,00",music,"1,00"
12,19/02/2025,"0,00","7,00","1,00","-6,00",music,"4,00"
13,19/02/2025,"0,00","7,00","1,00","-6,00",music,"4,00"
14,20/02/2025,"0,00","7,00","2,00","-5,00",sport,"10,60"
15,20/02/2025,"0,00","7,00","2,00","-5,00",sport,"10,60"
16,21/02/2025,"0,00","7,00","3,00","-4,00",music,"11,00"
17,21/02/2025,"0,00","7,00","3,00","-4,00",music,"11,00"
18,22/02/2025,"0,00",-1,"10,00","10,00",music,"0,00"
19,23/02/2025,"0,00",-1,"10,00","10,00",movie,"5,00"
20,24/02/2025,"0,00","7,00","3,00","-4,00",music,"5,00"
21,25/02/2025,"0,00","7,00","2,00","-5,00",music,"2,00"
22,26/02/2025,"0,00","7,00","1,00","-6,00",read,"1,00"
23,27/02/2025,"7,00",-1,"2,00","-5,00",read,"4,00"
24,28/02/2025,"7,00",-1,"3,00","-4,00",read,"10,60"
25,01/03/2025,"0,00",-1,"10,00","10,00",sport,"11,00"
26,02/03/2025,"0,00",-1,"10,00","10,00",read,"4,00"
27,03/03/2025,"7,00",-1,"3,00","-4,00",read,"7,00"
28,04/03/2025,"7,00",-1,"2,00","-5,00",read,"6,00"
29,05/03/2025,"7,00",-1,"1,00","-6,00",read,"0,00"
30,06/03/2025,"7,00",-1,"2,00","-5,00",read,"0,00"
31,07/03/2025,"7,00",-1,"3,00","-4,00",movie,"9,00"
32,08/03/2025,"0,00",-1,"10,00","10,00",read,"0,00"
33,09/03/2025,"0,00",-1,"10,00","10,00",read,"4,00"
34,10/03/2025,"0,00","7,00","3,00","-4,00",read,"7,00"
35,11/03/2025,"0,00","7,00","2,00","-5,00",movie,"6,00"
36,12/03/2025,"0,00","7,00","1,00","-6,00",music,"2,00"
37,13/03/2025,"0,00","7,00","2,00","-5,00",music,"1,00"
38,14/03/2025,"0,00","7,00","3,00","-4,00",music,"4,00"
39,15/03/2025,"0,00",-1,"10,00","10,00",music,"10,60"