In [1]:
## 10 Load dataset exercises


import pandas as pd
import numpy as np

df = pd.read_csv(filepath_or_buffer = 'test.csv', sep = ',', header = 0)

df.head(10)

df.tail(10)

df.shape

df.dtypes

df['daily_expenses'].dtypes

df.columns[-1]

df['daily_expenses'] = [str(i).replace(",", ".") for i in df["daily_expenses"]]
df['hours_work'] = [str(i).replace(",", ".") for i in df["hours_work"]]
df['hours_study'] = [str(i).replace(",", ".") for i in df["hours_study"]]
df['hours_leisure'] = [str(i).replace(",", ".") for i in df["hours_leisure"]]
df['hours_diff'] = [str(i).replace(",", ".") for i in df["hours_diff"]]
df['daily_expenses'] = df['daily_expenses'].astype(float)
df['hours_work'] = df['hours_work'].astype(float)
df['hours_study'] = df['hours_study'].astype(float)
df['hours_leisure'] = df['hours_leisure'].astype(float)
df['hours_diff'] = df['hours_diff'].astype(float)

df.describe()

df['leisure_type'].value_counts()

df['hours_diff'].max()

df['hours_diff'].min()

df['daily_expenses'].mean()

df[df['daily_expenses'] > 0].describe()



# var_to_df2 = ['date', 'daily_expenses']
# df2 = df[var_to_df2]

# df_col = df.loc[df['leisure_type'] == 'music']

# leisure_date = df[['date', 'leisure_type']]

       hours_work  hours_study  hours_leisure  hours_diff  daily_expenses
count   29.000000         16.0      29.000000   29.000000       29.000000
mean     1.206897          7.0       4.379310   -0.689655        5.958621
std      2.690981          0.0       3.589805    6.745916        3.340393
min      0.000000          7.0       1.000000   -6.000000        1.000000
25%      0.000000          7.0       2.000000   -5.000000        4.000000
50%      0.000000          7.0       3.000000   -4.000000        6.000000
75%      0.000000          7.0      10.000000   10.000000        9.000000
max      7.000000          7.0      10.000000   10.000000       11.000000